<?xml version="1.0" encoding="UTF8"?>
<toolchains>

  <toolchain>
     <type>jdk</type>
     <provides>
         <id>J2SE-1.4</id>
     </provides>
     <configuration>
        <jdkHome>/path/to/j2sdk1.4.2_19/jre</jdkHome>
     </configuration>
  </toolchain>

  <toolchain>
     <type>jdk</type>
     <provides>
         <id>J2SE-1.5</id>
     </provides>
     <configuration>
        <jdkHome>/path/to/J2SE-1.5/jre</jdkHome>
     </configuration>
  </toolchain>

  <toolchain>
     <type>jdk</type>
     <provides>
         <id>JavaSE-1.6</id>
     </provides>
     <configuration>
        <jdkHome>/path/to/JavaSE-1.6/jre</jdkHome>
     </configuration>
  </toolchain>

  <toolchain>
     <type>jdk</type>
     <provides>
         <id>JavaSE-1.7</id>
     </provides>
     <configuration>
        <jdkHome>/path/to/JavaSE-1.7/jre</jdkHome>
     </configuration>
  </toolchain>

</toolchains>
